---
import Greeting from "../components/Greeting.astro";
import Menu from "../components/Menu.astro";
import Music from "../components/Music.astro";

const menuItems = [
  { href: "#intro", label: "Intro" },
  { href: "#about", label: "About" },
  { href: "#work", label: "Work" },
  { href: "#thoughts", label: "Thoughts" },
];
---

<div class="navigation-header-container">
  <div class="flex-1 flex flex-row items-center justify-start">
    <Greeting greeting_time="morning" />
  </div>
  <div class="flex-none">
    <Menu menu_items={menuItems} />
  </div>
  <div class="flex-1 flex flex-row items-center justify-end">
    <Music music_text="music" />
  </div>
</div>

<style>
  .navigation-header-container {
    @apply flex flex-row items-center justify-between w-full sticky top-0 p-10 animate-fade-in duration-500 z-[20];
  }
</style>
