---
import Greeting from "../components/Greeting.astro";
import Navigation from "../components/Navigation.astro";
import Music from "../components/Music.astro";

const navigationItems = [
  { href: "/", label: "Intro" },
  { href: "/about", label: "About" },
  { href: "/work", label: "Work" },
  { href: "/thoughts", label: "Thoughts" },
  { href: "/contact", label: "Contact" },
];
---

<div class="navigation-header-container">
  <div class="flex-1 flex flex-row items-center justify-start z-10">
    <Greeting greeting_time="morning" />
  </div>
  <div class="flex-none z-10">
    <Navigation navigation_items={navigationItems} />
  </div>
  <div class="flex-1 flex flex-row items-center justify-end z-10">
    <Music music_text="music" />
  </div>
</div>

<style>
  .navigation-header-container {
    @apply flex flex-row items-center justify-between w-full fixed top-0 left-0 p-5 px-10 animate-fade-in duration-500 z-[20];
  }
</style>
