---
import Layout from "../layouts/Layout.astro";
import Header from "../components/elements/Header.astro";
import { Image } from "astro:assets";
import home from "../assets/other/home-view.png";
---

<Layout pageTitle="404" pageDescription="Page not found">
  <Header
    title="Oh no!"
    subtitle="This page seems to be lost"
    description="But you shouldn't. Go outside and enjoy the sun."
  />
  <section class="flex justify-start">
    <a href="/" class="button group">
      <span class="button-text">Return Home</span>
      <Image src={home} alt="Home" class="button-image animate-pulse" />
    </a>
  </section>
</Layout>

<style>
  .button {
    @apply px-6 py-3 flex flex-row items-center justify-center relative overflow-hidden rounded-full;
    @apply border border-white shadow-md backdrop-blur-sm;

    .button-text {
      @apply relative transition-all z-10 bg-white/80 backdrop-blur-sm py-1 px-2 rounded-xl;
    }

    .button-image {
      @apply w-full absolute top-0 left-0 transition-all;
    }

    &:hover {
      @apply w-full h-[300px] shadow-xl rounded-xl;

      .button-image {
        @apply !opacity-100;
      }

      .button-text {
        @apply px-4 py-3 hover:bg-black hover:text-white;
      }
    }
  }
</style>
