---
import Layout from "../layouts/Layout.astro";
import GridContainer from "../components/elements/GridContainer.astro";
import Header from "../components/elements/Header.astro";
import { Image } from "astro:assets";
import home from "../assets/other/home-view.png";
---

<Layout pageTitle="404" pageDescription="Page not found">
  <GridContainer size="small" spacing="lg">
    <Header
      title="Oh no!"
      subtitle="This page seems to be lost"
      description="But you shouldn't. Go outside and enjoy the sun."
    />
    <a href="/" class="button group">
      <span class="button-text">Return Home</span>
      <Image src={home} alt="Home" class="button-image" />
    </a>
  </GridContainer>
</Layout>

<style>
  .button {
    @apply w-full h-[300px] flex flex-row items-center justify-center relative overflow-hidden shadow-2xl rounded-xl border border-white;

    .button-text {
      @apply relative transition-all z-10 bg-white/80 backdrop-blur-sm px-6 py-3 rounded-xl;
      @apply hover:bg-black hover:text-white;
    }

    .button-image {
      @apply w-full absolute top-0 left-0 transition-all;
    }
  }
</style>
