---
import Layout from "../layouts/Layout.astro";
import SectionHeader from "../components/structure/SectionHeader.astro";
import Header from "../components/elements/Header.astro";
---

<Layout
  pageTitle="About - Karina Tovar"
  pageDescription="Pixel Philosopher Cautious Technologist"
>
  <Header title="Hello Stranger" />

  <section class="section-wrapper mt-10 content-section">
    <SectionHeader eyebrow="Background" title="Artist turned product designer">
      <div slot="section-header-content" class="flex flex-col gap-5 text-left">
        <p class="text-base text-ink-secondary">
          I had my first encounter with technology playing around with Photoshop
          for art class. Never did I think that a tool I just played with would
          show me what I wanted to do for a living. I currently live in the East
          Cost my wife, daughter, and a really hyper pooch.
        </p>
        <p class="text-base text-ink-secondary">
          I have a background in the Fine Arts, with a MFA from the
          Massachusetts College of Art & Design. There I was part of the Studio
          for Interrelated Media where I made artwork focused on performative
          technology. That just means that I obsessed over the intersection of
          technology and human happiness. I worked on a lot of performance art
          pieces that lived outside of the museum so I could create room for joy
          in the mundane.
        </p>
      </div>
    </SectionHeader>
  </section>

  <div class="divider--large"></div>

  <section class="section-wrapper mt-10 content-section">
    <SectionHeader
      eyebrow="RATIONALE"
      title="Anthro-technologist"
      description="As an artist, I always look for the meaning on the things I work. Part of that is always trying to establish the tangible benefit of what we build—whether that is in design systems, ux flows, or business strategy."
      descriptionAlign="left"
    />
  </section>

  <div class="divider--large"></div>

  <section class="section-wrapper mt-10 content-section">
    <SectionHeader eyebrow="IN REAL LIFE" title="Perpetual learner">
      <div slot="section-header-content" class="flex flex-col gap-5 text-left">
        <p class="text-base text-ink-secondary">
          I started designing emails and later on I learned to code them. Once I
          got my first product gig, I pushed my curiosity about coding by
          learning basic front-end languages. While I am not a seasoned dev, I
          enjoy turning pixels into code and find it rather soothing.
        </p>
        <p class="text-base text-ink-secondary">
          Outside of work, I enjoy listening to music and exploring the world
          through my daughter’s eyes. She is always teaching me new things by
          always having fun.
        </p>
      </div>
    </SectionHeader>
  </section>

  <div class="divider--large"></div>
</Layout>
