---
// Layout and Components
import Layout from "../layouts/Layout.astro";
import Header from "../components/elements/Header.astro";
import Timeline from "../components/elements/Timeline.astro";
import TrayArrowDown from "phosphor-astro/TrayArrowDown.astro";
import TenetCard from "../components/elements/TenetCard.astro";
import AtomSymbol from "../components/structure/AtomSymbol.astro";
import PersonalSection from "../components/sections/about/PersonalSection.astro";
import ToolsSection from "../components/sections/about/ToolsSection.astro";

// Data
import { timelineItems } from "../data/timeline";
import { tenets } from "../data/tenets";

// Assets
import { Image } from "astro:assets";
import avatarBackground from "../assets/avatars/avatar-4.png";
import karina from "../assets/brand/karina-profile.png";

---

<Layout
  pageTitle="About - Karina Tovar"
  pageDescription="Pixel Philosopher Cautious Technologist"
>
  {/* Hero Section */}
  <Header
    title="Hello Stranger"
    subtitle="I am an artist turned product designer"
    description=""
  />

  {/* Profile Image */}
  <figure class="rounded-t-full overflow-hidden relative mt-10">
    <Image
      src={karina}
      alt="Karina Tovar"
      class="absolute bottom-0 translate-x-5 karina-profile mix-blend-overlay"
    />
    <Image src={avatarBackground} alt="Noise" />
  </figure>

  {/* Introduction */}
  <section id="introduction" class="pt-10 pb-16">
    <h2 class="text-3xl">Building for Joy</h2>
    <p class="text-lg">
      I have a background in the Fine Arts, with a MFA from the Massachusetts
      College of Art & Design. There I was part of the Studio for Interrelated
      Media where I made artwork focused on performative technology. That just
      means that I obsessed over the intersection of technology and human
      happiness. I worked on a lot of performance art pieces that lived outside
      of the museum so I could create room for joy in the mundane.
    </p>
  </section>

  {/* Tenets Section */}
  <section id="tenets" class="pb-16">
    <AtomSymbol include_classes="w-20 h-20 mb-10" />
    <h2 class="text-3xl mt-0">My Design Tenets</h2>
    <p>What I believe in.</p>
    <div class="grid grid-cols-1 gap-8 mt-8">
      <TenetCard items={tenets} />
    </div>
  </section>

  {/* Experience Section */}
  <section id="experience" class="pt-10 pb-16">
    <AtomSymbol include_classes="w-20 h-20 mb-10" />
    <div class="flex justify-between items-center flex-wrap gap-4 mb-10 group">
      <h2 class="m-0 text-3xl">A Decade of Experience</h2>
      <a href="#" class="resume-link text-sm">
        <TrayArrowDown class="w-6 h-6" />
        <span class="underline-offset-4 group-hover:underline"
          >Download Resume</span
        >
      </a>
    </div>
    <Timeline items={timelineItems} />
  </section>

  {/* Tools Section */}
  <ToolsSection />

  {/* Personal Section */}
  <PersonalSection />
</Layout>
