---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Header from "../components/elements/Header.astro";
import Timeline from "../components/elements/Timeline.astro";
import avatar1 from "../assets/avatars/avatar-1.png";
import avatar2 from "../assets/avatars/avatar-2.png";
import avatar3 from "../assets/avatars/avatar-3.png";
import avatar4 from "../assets/avatars/avatar-4.png";
import avatar5 from "../assets/avatars/avatar-5.png";

const timelineItems = [
  {
    title: "Lead Product Designer",
    company: "Tropic App",
    description:
      "I was the lead product designer at Tropic App. I was responsible for the product design and branding of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app.",
    avatar: avatar1,
    skills: [
      "Product Design",
      "Design Systems",
      "UX Research",
      "Design Engineering",
    ],
  },
  {
    title: "Senior Product Designer",
    company: "Glue",
    description:
      "I was the lead product designer at Tropic App. I was responsible for the product design and branding of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app.",
    avatar: avatar2,
    skills: ["Product Design", "Branding", "UX Research", "Design Engineering"],
  },
  {
    title: "Staff Product Designer",
    company: "Teikametrics",
    description:
      "I was the lead product designer at Tropic App. I was responsible for the product design and branding of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app.",
    avatar: avatar3,
    skills: ["Product Design", "Design Systems", "UX Research"],
  },
  {
    title: "Product Owner",
    company: "Rejoiner",
    description:
      "I was the lead product designer at Tropic App. I was responsible for the product design and branding of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app.",
    avatar: avatar4,
    skills: [
      "Product Design",
      "Branding",
      "UX Research",
      "Design Engineering",
      "Product Management",
    ],
  },
  {
    title: "Lead Designer",
    company: "Venly",
    description:
      "I was the lead product designer at Tropic App. I was responsible for the product design and branding of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app. I was also responsible for the design of the app.",
    avatar: avatar5,
    skills: ["Branding"],
  },
];
---

<Layout
  pageTitle="About - Karina Tovar"
  pageDescription="Pixel Philosopher Cautious Technologist"
>
  <Header title="Hello Stranger" subtitle="A little about me" />

  <h2 class="mt-0">I'm an artist turned product designer</h2>

  <p class="text-lg">
    I have a background in the Fine Arts, with a MFA from the Massachusetts
    College of Art & Design. There I was part of the Studio for Interrelated
    Media where I made artwork focused on performative technology. That just
    means that I obsessed over the intersection of technology and human
    happiness. I worked on a lot of performance art pieces that lived outside of
    the museum so I could create room for joy in the mundane.
  </p>

  <div class="divider--large"></div>

  <h2 class="pt-10">I have a decade of experience</h2>

  <div class="flex flex-col gap-8">
    <Timeline items={timelineItems} />
    <a
      href="#"
      class="text-sm underline-offset-4 hover:underline transition-all duration-300"
    >
      See more in Read.CV
    </a>
  </div>

  <div class="divider--large"></div>

  <h2 class="pt-10">My preferred stack</h2>

  <p>Stack I use to build products</p>

  <div class="stack-grid">
    <div class="stack-item--cell">
      <div class="stack-item--icon"></div>
      <span>Notion</span>
    </div>
    <div class="stack-item--cell">
      <div class="stack-item--icon"></div>
      <span>Cursor</span>
    </div>
    <div class="stack-item--cell">
      <div class="stack-item--icon"></div>
      <span>Figma</span>
    </div>
    <div class="stack-item--cell">
      <div class="stack-item--icon"></div>
      <span>Figma</span>
    </div>
    <div class="stack-item--cell">
      <div class="stack-item--icon"></div>
      <span>Notion</span>
    </div>
    <div class="stack-item--cell">
      <div class="stack-item--icon"></div>
      <span>Cursor</span>
    </div>
    <div class="stack-item--cell">
      <div class="stack-item--icon"></div>
      <span>Figma</span>
    </div>
    <div class="stack-item--cell">
      <div class="stack-item--icon"></div>
      <span>Figma</span>
    </div>
  </div>

  <div class="divider--large"></div>

  <h2 class="pt-10">Outside of work</h2>
  <p>
    I have a background in the Fine Arts, with a MFA from the Massachusetts
    College of Art & Design. There I was part of the Studio for Interrelated
    Media where I made artwork focused on performative technology. That just
    means that I obsessed over the intersection of technology and human
    happiness. I worked on a lot of performance art pieces that lived outside of
    the museum so I could create room for joy in the mundane.
  </p>

  <Image src={avatar1} alt="Karina Tovar" />
</Layout>

<style>
  .stack-grid {
    @apply grid grid-cols-4 max-md:grid-cols-2 max-sm:grid-cols-1 gap-6;
  }

  .stack-item--cell {
    @apply flex flex-col items-center gap-2 p-4 bg-paper-base rounded-lg shadow-md transition-all duration-300;
    @apply hover:shadow-lg hover:scale-105 shadow-neutral-300/50;
  }

  .stack-item--icon {
    @apply w-10 h-10 bg-neutral-100 rounded-full;
  }
</style>
