---
import Layout from "../layouts/Layout.astro";
import AtomSymbol from "../components/structure/AtomSymbol.astro";

---

<Layout title="Karina Tovar">
  <AtomSymbol include_classes="w-20 h-20 my-10 hidden" />
  <h1 class="mb-16">Pixel Philosopher, Cautious Technologist</h1>
  <h2 class="text-3xl font-medium tracking-tight mb-8">
    Hi, my name is Karina Tovar.
  </h2>

  <p class="mb-10">
    My motivation is to build products that aim to help people have happier
    days. Life is too short to be ruined by awful experiences. Every product
    needs to be crafted for human joy.
  </p>

  <p class="mb-10">
    My motivation is to build products that aim to help people have happier
    days. Life is too short to be ruined by awful experiences. Every product
    needs to be crafted for human joy.
  </p>

  <p class="mb-10">
    My motivation is to build products that aim to help people have happier
    days. Life is too short to be ruined by awful experiences. Every product
    needs to be crafted for human joy.
  </p>

  <p class="mb-10">
    I'm currently building <em>something amazing</em> where I focus on creating delightful
    user experiences.
  </p>

  <p class="mb-10">
    Previously, I worked at <em>Company X</em> as a product designer, and at <em
      >Company Y</em
    > where I helped build their design system.
  </p>

</Layout>
