---
import Layout from "../layouts/Layout.astro";
import AtomSymbol from "../components/structure/AtomSymbol.astro";
import Header from "../components/structure/Header.astro";
---

<Layout pageTitle="Karina Tovar">
  <AtomSymbol include_classes="w-20 h-20 mt-10 hidden" />
  <Header 
    title="Pixel Philosopher, Cautious Technologist" 
    subtitle="Hi, friend. My name is Karina." 
  />

  <p class="mb-10">
    My motivation is to build products that aim to help people have happier
    days. Life is too short to be ruined by awful experiences. Every product
    needs to be crafted for human joy.
  </p>

  <p class="mb-10">
    My motivation is to build products that aim to help people have happier
    days. Life is too short to be ruined by awful experiences. Every product
    needs to be crafted for human joy.
  </p>

  <p class="mb-10">
    My motivation is to build products that aim to help people have happier
    days. Life is too short to be ruined by awful experiences. Every product
    needs to be crafted for human joy.
  </p>

  <p class="mb-10">
    I'm currently building <em>something amazing</em> where I focus on creating delightful
    user experiences.
  </p>

  <p class="mb-10">
    Previously, I worked at <em>Company X</em> as a product designer, and at <em
      >Company Y</em
    > where I helped build their design system.
  </p>

</Layout>
