---
interface Crumb {
  text: string;
  href: string;
  showArrow?: boolean;
}

interface Props {
  crumbs: Crumb[];
}

const { crumbs } = Astro.props;
---

<nav class="breadcrumbs">
  {
    crumbs.map((crumb) => (
      <a href={crumb.href} class="crumb group">
        {crumb.showArrow && <span class="arrow">←</span>}
        <span class="label">{crumb.text}</span>
      </a>
    ))
  }
</nav>

<style>
  .breadcrumbs {
    @apply flex items-center gap-2 py-10;
  }

  .crumb {
    @apply flex items-center gap-2 transition-all;
  }

  .label {
    @apply underline-offset-4 font-semibold group-hover:underline;
  }

  .arrow {
    @apply w-10 h-10 flex items-center justify-center bg-stone-200 rounded-full;
    @apply group-hover:bg-stone-700 group-hover:text-white transition-all duration-300;
  }
</style>
