---
interface Crumb {
  text: string;
  href: string;
  showArrow?: boolean;
}

interface Props {
  crumbs: Crumb[];
}

const { crumbs } = Astro.props;
---

<nav class="breadcrumbs max-3xl:px-0 py-10">
  {
    crumbs.map((crumb) => (
      <a href={crumb.href} class="crumb">
        {crumb.showArrow && <span class="arrow">←</span>}
        <span class="label">{crumb.text}</span>
      </a>
    ))
  }
</nav>

<style>
  .breadcrumbs {
    @apply flex items-center gap-2;
  }

  .crumb {
    @apply flex items-center gap-2 transition-all;

    &:hover span.label {
      @apply underline underline-offset-4;
    }
  }

  .arrow {
    @apply opacity-80;
  }
</style>
