---
import Sun from "phosphor-astro/Sun.astro";
import MoonStars from "phosphor-astro/MoonStars.astro";

const currentHour = new Date().getHours();
const isDaytime = currentHour >= 6 && currentHour < 18;
const greeting = isDaytime ? "have a nice day" : "good night owl";
---

<footer class="footer opacity-0" data-footer>
  <div class="footer-greeting relative z-base">
    {isDaytime ? <Sun class="animate-spin-slow" /> : <MoonStars />}
    <span class="footer-greeting--text">{greeting}</span>
  </div>
  <div class="footer-links relative z-base">
    <div class="footer-links--column colophon">
      &copy; {new Date().getFullYear()} Karina Tovar · Colophon
    </div>
    <div class="footer-links--column contact">
      <span class="footer-links--title">Get in Touch</span>
      <div class="footer-links--text">
        <span>hello@karinatovar.com</span>
        <a
          href="https://cal.com/karina-tovar-djofxs/quick-chat?month=2025-01&date=2025-01-28"
          target="_blank">Book me</a
        >
      </div>
    </div>
    <div class="footer-links--column social">
      <span class="footer-links--title">Everywhere Else</span>
      <div class="footer-links--text">
        <a href="https://github.com/karinatovar" target="_blank">Github</a>
        <a href="https://linkedin.com/in/karinatovar" target="_blank"
          >LinkedIn</a
        >
        <a href="https://threads.net/karinatovar" target="_blank">Threads</a>
      </div>
    </div>
  </div>
  <div class="footer-background"></div>
</footer>

<script>
  const footer = document.querySelector("[data-footer]");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("animate-footer-reveal");
          observer.unobserve(entry.target);
        }
      });
    },
    {
      threshold: 0.1,
    },
  );

  if (footer) {
    observer.observe(footer);
  }
</script>

<style>
  /* Base footer layout */
  .footer {
    @apply w-full flex flex-col justify-center items-center gap-10 relative z-base py-20 px-10 opacity-0;
    @apply overflow-hidden transition-all duration-1000 ease-out transform translate-y-10;
  }

  .footer-background {
    @apply absolute inset-0 w-full bg-stone-100 translate-y-full transition-all duration-1000 ease-out transform;
  }

  .footer-greeting {
    @apply flex items-center gap-3 w-fit mx-auto overflow-hidden opacity-0 transition-all duration-1000 ease-out delay-500;
    @apply max-sm:flex-col max-sm:gap-2;
    font-size: 10vw;
    line-height: 10vw;

    &.night {
      font-size: 8vw;
      line-height: 8vw;
    }
  }

  /* Ensure the Sun icon maintains its size and doesn't shrink */
  .footer-greeting :global(svg) {
    @apply h-[1em] w-[1em] flex-shrink-0;
  }

  .footer-greeting--text {
    @apply uppercase tracking-tight whitespace-nowrap;
  }

  /* Links grid layout */
  .footer-links {
    @apply w-full max-w-screen-base mx-auto text-sm text-neutral-500 grid grid-cols-26 opacity-0 transition-all duration-1000 ease-out delay-500;
  }

  /* Common column styles */
  .footer-links--column {
    @apply flex flex-col gap-2 h-full items-start justify-start;
  }

  /* Individual column layouts */
  .footer-links--column.colophon {
    @apply col-span-full py-8
           md:py-0 md:col-start-1 md:col-span-10;
  }

  .footer-links--column.contact {
    @apply col-span-full py-8
           sm:col-start-1 sm:col-span-11
           md:py-0 md:col-start-12 md:col-span-8;
  }

  .footer-links--column.social {
    @apply col-span-full
           sm:col-start-12 sm:col-span-full
           md:col-start-[20] md:col-span-7;
  }

  /* Text styles */
  .footer-links--title {
    @apply text-sm font-medium opacity-70 uppercase tracking-widest;
  }

  .footer-links--text {
    @apply text-xl;

    & > * {
      @apply block mb-2;
    }

    & > a {
      @apply underline-offset-4 decoration-dotted decoration-neutral-400 transition-all duration-300 hover:underline;
    }
  }

  /* Animation styles */
  .animate-footer-reveal {
    @apply opacity-100;

    & .footer-greeting {
      @apply opacity-20;
    }
    & .footer-links {
      @apply opacity-100;
    }

    & .footer-background {
      @apply -translate-y-0 h-full;
    }
  }
</style>
