---
import { Image } from "astro:assets";
import cloudLeft from "../assets/landscape/cloud-left.webp";
import cloudRight from "../assets/landscape/cloud-right.webp";

const { additionalClasses = "" } = Astro.props;
---

<div class="clouds-wrapper">
  <div class="clouds-container">
    <Image
      src={cloudLeft}
      alt="Cloud Left"
      width={400}
      class="cloud-left content-section opacity-0 -translate-x-10"
      loading="eager"
      decoding="async"
    />
    <Image
      src={cloudRight}
      alt="Cloud Right"
      width={400}
      class="cloud-right content-section opacity-0 translate-x-10"
      loading="eager"
      decoding="async"
    />
  </div>
</div>

<style>
  .clouds-wrapper {
    @apply w-full absolute top-0 left-0 right-0 z-0 pointer-events-none;
  }

  .clouds-container {
    @apply w-full h-full relative;
  }

  .cloud-left {
    @apply absolute top-20 left-0 transition-all duration-1000 ease-out;
  }

  .cloud-right {
    @apply absolute top-0 right-0 transition-all duration-1000 ease-out;
  }

  /* Override the default content-section animation duration for clouds */
  .cloud-left.visible,
  .cloud-right.visible {
    @apply translate-x-0;
  }
</style>
