---
const { menu_items } = Astro.props;
---

<div class="menu-container">
  {
    menu_items.map(
      (item: { href: string | URL | null | undefined; label: unknown }) => (
        <a href={item.href}>{item.label}</a>
      ),
    )
  }
</div>

<style>
  .menu-container {
    @apply flex flex-row items-center justify-center gap-4 w-fit m-auto py-3 px-6 bg-white/50 rounded-full border border-black/5 shadow-sm backdrop-blur-sm;
    a {
      @apply text-base leading-6 w-fit;
    }
  }
</style>
