---
const {
  music_text = "music"
} = Astro.props;
---

<div class="music-container">
	<span class="m-auto w-fit">Listening to {music_text}</span>
</div>

<style>
  .music-container {
    @apply flex flex-row items-center justify-center gap-3 text-base leading-6 text-copy-secondary animate-fade-in-right;
  }
</style>
