---
const { music_text = "music" } = Astro.props;
---

<div class="music-container group" id="music-container">
  <div class="music-info">
    <span class="current-track"></span>
  </div>
  <div class="music-details">
    <div class="flex flex-row gap-3">
      <div class="album-cover group/album">
        <div class="album-hole"></div>
        <img class="album-art" src="" alt="Album Art" draggable="false" />
      </div>
      <div class="text-info">
        <span class="song-name">Some song</span>
        <span class="artist-name">Some artist</span>
        <a
          href="#"
          class="spotify-badge"
          target="_blank"
          rel="noopener noreferrer"
        >
          Play on Spotify
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .music-container {
    @apply relative flex items-center justify-end text-stone-600 animate-fade-in-right;
  }

  .music-info {
    @apply cursor-pointer text-base;

    .current-track {
      @apply group-hover:underline underline-offset-4;
    }
  }

  .music-details {
    @apply absolute left-[calc(100%-150px)] -translate-x-1/2 top-8 opacity-0 translate-y-2 z-base
           min-w-[300px] p-4 bg-white/50 backdrop-blur-sm rounded-lg border border-white shadow-md
           transition-all duration-200 group-hover:opacity-100 group-hover:translate-y-0;

    .album-cover {
      @apply w-20 h-20 rounded-full overflow-hidden relative shadow-md border border-white animate-fade-in-right;

      .album-hole {
        @apply w-5 h-5 bg-white rounded-full absolute inset-0 m-auto z-base;
      }

      .album-art {
        @apply w-full h-full object-cover transition-all duration-[1500ms];
        animation: spin 4s linear infinite paused;
        animation-play-state: running;
      }
    }

    .text-info {
      @apply flex flex-col justify-center;

      .song-name {
        @apply text-stone-900 text-sm font-medium;
      }

      .artist-name {
        @apply text-xs text-stone-600;
      }

      .spotify-badge {
        @apply mt-2 px-3 py-1 text-xs text-white bg-green-700 rounded-full hover:bg-green-900 transition-colors duration-200;
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>

<script>
  import '../scripts/controllers/music-controller';
</script>
