---
import Greeting from "../components/Greeting.astro";
import Navigation from "../components/Navigation.astro";
import Music from "../components/Music.astro";

const menuItems = [
  { href: "/", label: "Intro" },
  { href: "/about", label: "About" },
  { href: "/work", label: "Work" },
  { href: "/thoughts", label: "Thoughts" },
];
---

<div class="navigation-header-container">
  <div class="navigation-header-greeting z-minimal">
    <Greeting greeting_time="morning" />
  </div>
  <div class="navigation-header-menu z-base">
    <Navigation menu_items={menuItems} />
  </div>
  <div class="navigation-header-music z-minimal">
    <Music music_text="music" />
  </div>
  <div class="navigation-blur-mask"></div>
</div>

<style>
  .navigation-header-container {
    @apply fixed top-0 left-0 right-0 flex flex-row items-center justify-between w-full p-10 animate-fade-in duration-500 z-navigation;
  }
  .navigation-blur-mask {
    @apply absolute h-full w-full pointer-events-none top-0 left-0 bg-gradient-to-t from-transparent to-paper-base backdrop-blur-[2px];
  }
  .navigation-header-greeting {
    @apply flex-1 flex flex-row items-center justify-start max-lg:hidden;
  }
  .navigation-header-menu {
    @apply flex-none max-lg:mx-auto;
  }
  .navigation-header-music {
    @apply flex-1 flex flex-row items-center justify-end max-lg:hidden;
  }
</style>
