---
import Sun from "phosphor-astro/Sun.astro";
---

<footer class="footer">
  <div class="footer-title">
    <Sun />
    <span class="footer-title--text">have a nice day</span>
  </div>
  <div class="footer-links">
    <div class="footer-links--column colophon">
      &copy; {new Date().getFullYear()} Karina Tovar · Colophon
    </div>
    <div class="footer-links--column contact">
      <span class="footer-links--title">Get in Touch</span>
      <div class="footer-links--text">
        <span>hello@karinatovar.com</span>
        <span>Book me</span>
      </div>
    </div>
    <div class="footer-links--column social">
      <span class="footer-links--title">Everywhere Else</span>
      <div class="footer-links--text">
        <a href="https://www.instagram.com/karinatovar/" target="_blank"
          >Github</a
        >
        <a href="https://www.linkedin.com/in/karinatovar/" target="_blank"
          >LinkedIn</a
        >
        <a href="https://www.x.com/karinatovar/" target="_blank">Threads</a>
      </div>
    </div>
  </div>
</footer>

<style>
  /* Footer styles */
  .footer {
    @apply w-full flex flex-col justify-center items-center gap-10 relative z-base py-20 px-10 bg-stone-100;
  }

  .footer-title {
    @apply flex items-center gap-3 w-fit mx-auto opacity-20 overflow-hidden;
    @apply max-sm:flex-col max-sm:gap-2;
    font-size: 10vw;
    line-height: 10vw;
  }

  /* Ensure the Sun icon maintains its size and doesn't shrink */
  .footer-title :global(svg) {
    @apply h-[1em] w-[1em] flex-shrink-0;
  }

  .footer-title--text {
    @apply uppercase tracking-tight whitespace-nowrap;
  }

  .footer-links {
    @apply w-full max-w-screen-base mx-auto text-sm text-neutral-500 grid grid-cols-26;
  }

  .footer-links--column {
    @apply flex flex-col gap-2 h-full items-start justify-start;

    &.colophon {
      @apply col-span-full py-8
             md:py-0 md:col-start-1 md:col-span-10;
    }

    &.contact {
      @apply col-span-full py-8
             sm:col-start-1 sm:col-span-11
             md:py-0 md:col-start-12 md:col-span-8;
    }

    &.social {
      @apply col-span-full
             sm:col-start-12 sm:col-span-full
             md:col-start-[20] md:col-span-7;
    }
  }

  .footer-links--title {
    @apply text-sm font-medium;
  }

  .footer-links--text {
    @apply text-xl;

    & > * {
      @apply block mb-2;
    }

    & > a {
      @apply underline-offset-4 decoration-dashed transition-all duration-300 hover:underline;
    }
  }
</style>
