---
import bgImage from "../assets/bgtest.jpg";
import StickyNav from "../components/elements/StickyNav.astro";
import Footer from "../components/elements/Footer.astro";
import { Image } from "astro:assets";
import trees from "../assets/landscape/trees.png";

interface Props {
  pageTitle?: string;
  pageDescription?: string;
}

const {
  pageTitle = "Karina Tovar",
  pageDescription = "Pixel Philosopher Cautious Technologist",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Instrument+Serif:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="root">
      <main class="main">
        <StickyNav />
        <div class="content">
          <slot />
        </div>
      </main>
      <div class="p-20"></div>
      <Footer />
    </div>
  </body>
</html>

<style>
  :root {
    --font-sans: "Safiro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --footer-height: 60px;
  }

  body,
  html {
    @apply min-h-screen;
    color: #6c5f3c;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  .root {
    @apply antialiased bg-white;
    font-family: var(--font-sans);
    /*
    background-image: url("https://cdn.midjourney.com/7ccf011d-615d-4a62-9c28-68f919ce4e0e/0_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    */
  }

  .main {
    @apply mx-auto w-full px-10 pb-10 flex flex-col justify-center items-center z-10 relative;
    min-height: calc(100vh - var(--footer-height));
    /* max-w-2xl */
  }

  .content {
    @apply max-w-none w-full;
  }

  /* Typography */
  :global(h1) {
    @apply text-[100px] leading-[90px] font-medium tracking-tighter mb-8;
  }

  :global(h2) {
    @apply text-xl font-medium tracking-tight mt-12 mb-4;
  }

  :global(p) {
    @apply leading-relaxed mb-6;
  }

  :global(em) {
    @apply font-normal not-italic text-neutral-900;
  }

  /* Global styles */
  :global(body) {
    @apply text-base leading-relaxed;
  }

  :global(a) {
    @apply text-inherit underline-offset-4;
  }

  :global(em) {
    @apply text-inherit italic;
  }

  :global(*) {
    @apply border-neutral-200;
  }

  /* Update footer spacing */
  .content {
    @apply mb-auto w-full;
  }
</style>
