---
import "../styles/global.css";
import type { HeaderProps } from "../types/HeaderProps";
import NavWrapper from "../components/header/NavWrapper.astro";
import Clouds from "../components/background/Clouds.astro";
import HeaderHero from "../components/structure/HeaderHero.astro";
import Footer from "../components/structure/Footer.astro";
import LoadingBar from "../components/elements/LoadingBar.astro";
import CommonHead from "../components/structure/CommonHead.astro";

interface Props extends HeaderProps {
  pageTitle: string;
  pageDescription: string;
  showBackToTop?: boolean;
}

const {
  pageTitle = "Karina Tovar",
  pageDescription = "Pixel Philosopher Cautious Technologist",
  showBackToTop = true,
  ...headerProps
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead pageTitle={pageTitle} pageDescription={pageDescription} />
  </head>
  <body class="w-full h-screen p-0 m-0 overflow-x-hidden relative">
    <NavWrapper />
    <HeaderHero {...headerProps}>
      <slot name="title-content" slot="title-content" />
    </HeaderHero>
    <main class="flex-1 relative">
      <slot />
    </main>
    <Footer showBackToTop={showBackToTop} />
  </body>
</html>

<script>
  import "../scripts/controllers/intersection-controller";
</script>
